@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%; overflow:hidden; }

table, th, tr {

}

table {
    border-collapse: collapse;
    width: 20%;
}

th {
	position: relative;
    height: 20px;
	text-align: left;
	color: black;
	top: 200px;
	left: 150px;
}



body { 
	position: relative;
	width: 100%;
	height:100%;
	font-family: "Comic Sans MS";
    background-image: url("../img/entry.png");
    background-color: #000000;
	color: #000000;
    padding: 100px;
    margin: 100px;
	font-size: 24px;
	text-align:center;
	letter-spacing:1px;
	top: -340px;
	left: -150px;

}
.login { 
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:400px;
	height:400px;
}

.login h1 { color: #0c0c0c; text-shadow: 0 0 10px rgba(255, 0, 0, 0.3); letter-spacing:2px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(239, 13, 13, 0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #000000;
	text-shadow: 1px 1px 1px rgba(245, 6, 6, 0.3);
	border: 1px solid rgba(238, 13, 13, 0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(245, 12, 12, 0.2), 0 1px 1px rgba(234, 14, 14, 0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}